{% block jumbotron %}
<div class="jumbotron">
  <h1 class="display-4">
    Hello, <span style="font-weight: bold;">Stranger</span>!
  </h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    You're not logging in. Click button below or
    <a href="/signup">sign up here</a>
  </p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock jumbotron %}
