{% block content %}
<div class="row">
  {% for post in posts %}
  <div class="col-12 card">
    <div class="row">
      <div class="col-11">
        <h1><a href="/post/{{post.id}}">{{ post.title }}</a></h1>
        <p>{{ post.body }}</p>
        <p>
          {{ post.author }}
          <span class="text-muted">created {{ moment(post.created_date).fromNow(no_suffix = False)
            }}</span>
        </p>
        <p>{{post.comments|length}} <i class="fas fa-comment"></i></p>
        <p>{{post.view_count}} <i class="fas fa-eye"></i></p>
      </div>
      {% if current_user.username == post.author %}

      <div class="col-1 dropright">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <form method="POST" action="{{url_for('page_detail', id = post.id, action ='edit')}}">
            <button type="submit" class="dropdown-item" href=>Edit</button>
            <!-- <a class="dropdown-item" href="#">Delete</a> -->
          </form>
          <form method="POST" action="{{url_for('page_detail', id = post.id, action ='delete_post')}}">
            <button type="submit" class="dropdown-item" href=>Delete</button>
          </form>
        </div>

      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}